---
const {lang} = Astro.props
const translatedContent = {
    en : {
            title1      : 'Online English Lessons & Translation/Proofreading',
            subtitle1   : 'Online Lessons',
            text        : ["Private, semi-private and small-group English instruction from beginner (A1) to advanced (C2) for all ages",
                           "Personalised, individual support tailored to your particular needs",
                           "English for both general and professional purposes",
                           "Exam support every step of the way",
                           "Customisable lessons built around your interests (e.g. English literature or 'STEM' (science, technology, engineering and mathematics))",
                           "All from the convenience of your preferred location with the support of a CELTA-qualified Teacher"],
            subtitle2   : 'Translation & Proofreading',
            subtitle3   : '(FR/DE to EN)',
            text2       : ["Translation of texts from French and German into English",
                           "Proofreading focused not only on grammar, punctuation and spelling but also on fluidity, clarity and consistency",
                           "Close collaboration throughout all projects to ensure reliable, high-quality work in line with your needs and expectations"], 
        },
    de : {
            title1      : 'Online-Englischunterricht & Übersetzung/Korrekturlesen',
            subtitle1   : 'Online-Unterricht',
            text        : ["Privat-, Halbprivat- und Kleingruppen-Englischunterricht von Anfänger (A1) bis Fortgeschrittene (C2) für alle Altersgruppen",
                           "Personalisierte, individuelle Unterstützung, die auf Ihre besonderen Bedürfnisse zugeschnitten ist",
                           "Englisch für allgemeine sowie berufliche Zwecke",
                           "Prüfungsunterstützung bei jedem Schritt des Weges",
                           "Individuell gestaltbarer Unterricht, der sich an Ihren Interessen orientiert (z. B. englische Literatur oder „MINT“ (Mathematik, Informatik, Naturwissenschaften und Technik))",
                           "Alles bequem von Ihrem bevorzugten Standort aus mit der Unterstützung einer CELTA-qualifizierten Lehrerin"],
            subtitle2   : 'Übersetzung und Korrekturlesen',
            subtitle3   : '(FR/DE ins EN)',
            text2       : ["Übersetzung von Texten aus dem Französischen und Deutschen ins Englische",
                           "Korrekturlesen, das sich nicht nur auf Grammatik, Zeichensetzung und Rechtschreibung, sondern auch auf Flüssigkeit, Klarheit und Folgerichtigkeit konzentriert",
                           "Enge Zusammenarbeit bei allen Projekten, um eine zuverlässige, qualitativ hochwertige Arbeit zu gewährleisten, die Ihren Bedürfnissen und Erwartungen entspricht",], 
        },
    fr : {
            title1      : "Leçons d'anglais en ligne et traduction/relecture",
            subtitle1   : "Leçons en ligne",
            text        : ["Leçons d'anglais privées, semi-privées et en petits groupes, de débutant (A1) à avancé (C2) pour tous les âges",
                           "Soutien personnalisé et individuel adapté à vos besoins particuliers",
                           "Anglais à des fins générales ainsi que professionnelles",
                           "Soutien aux examens à chaque étape du processus",
                           "Des leçons sur mesure construites autour de vos intérêts (par exemple, la littérature anglaise ou « STEM » (science, technologie, ingénierie et mathématique))",
                           "Le tout dans le confort de votre endroit préféré avec le soutien d'une Enseignante diplômée du CELTA"],
            subtitle2   : 'Traduction et relecture',
            subtitle3   : '(FR/DE vers EN)',
            text2       : ["Traduction de textes du français et de l'allemand vers l'anglais",
                           "Relecture axée non seulement sur la grammaire, la ponctuation et l'orthographe mais aussi sur la fluidité, la clarté et la cohérence",
                           "Collaboration étroite tout au long des projets afin de garantir un travail fiable, de qualité et conforme à vos besoins et à vos attentes"], 
        }
    }


let currentLanguage = translatedContent[lang]
---
<div class="content">
<h2 class="is-size-4 mb-6">{currentLanguage.title1}</h2>
<h3 class="is-size-5 mb-5 mt-6">{currentLanguage.subtitle1}</h3>
<div class="mb-6">{currentLanguage.text.map(el => (
    <p class="mb-1"><span class="brand-red">⚘ </span>{el}</p>
))}
</div>
<h3 class="is-size-5 mb-0 mt-6">{currentLanguage.subtitle2}</h3>
<h4 class="is-size-5 mb-5 mt-0">{currentLanguage.subtitle3}</h4>
<div>{currentLanguage.text2.map(el => (
    <p class="mb-1"><span class="brand-red">⚘ </span>{el}</p>
))}
</div>
</div>

