---
const {lang} = Astro.props

const translatedContent = {
    en : {
            title: 'Imprint', 
            country: 'Switzerland',
            vat:'According to Swiss law governing VAT (see <a href="https://www.fedlex.admin.ch/eli/cc/2009/615/en#a10">VAT Act, art. 10, para. 2-a</a>), <i>The English Nook</i> is not subject to VAT.',
            illustration: 'Illustrations by Nadine | The Burrow of Bells (<a href="www.theburrowofbells.com">www.theburrowofbells.com</a>)',
            webmaster:''
            },
    de : {
            title: "Impressum", 
            country: 'Schweiz',
            vat:'Gemäß Schweizer Mehrwertsteuerrecht (s. <a href="https://www.fedlex.admin.ch/eli/cc/2009/615/de#a10">MWSTG, Art. 10, Abs. 2-a</a>) ist <i>The English Nook</i> nicht mehrwertsteuerpflichtig.',
            illustration: 'Illustrationen von Nadine | The Burrow of Bells (<a href="www.theburrowofbells.com">www.theburrowofbells.com</a>)',
            webmaster:''
                },
    fr : {
            title: "Mentions légales", 
            country: 'Suisse',
            vat:'Selon la loi suisse régissant la TVA (v. <a href="https://www.fedlex.admin.ch/eli/cc/2009/615/fr#a10">LTVA, art. 10, al. 2-a</a>), <i>The English Nook</i> n’est pas assujetti à la TVA.',
            illustration: 'Illustrations de Nadine | The Burrow of Bells (<a href="www.theburrowofbells.com">www.theburrowofbells.com</a>)',
            webmaster:''
            },
    }

---
<div class="content">
<h2 class="is-size-4 has-text-centered">{translatedContent[lang].title}</h2>
<div>
<p class="mt-0 mb-0">Simone Robinson</p>
<p class="mt-0 mb-0">Gibelmatte 21</p>
<p class="mt-0 mb-0">6166 Hasle (LU)</p>
<p class="mt-0 mb-0">{translatedContent[lang].country}</p>
<p class="mt-0 mb-0">tel. 41 (041) 481 01 97</p>
<p class="mt-0 mb-4">info@theenglishnook.ch</p>
<p class="mt-0 mb-3">{translatedContent[lang].vat}</p>
<p class="mt-0 mb-0">{translatedContent[lang].illustration}</p>
<p class="mt-0 mb-0">{translatedContent[lang].webmaster}</p>
</div>
</div>