---
import router from '../data/router.json';

const {lang, location} = Astro.props
const sideBar = Object.keys(router).filter(fil => fil != "imprint" && fil != "tc" && fil != "privacy")
---

<aside class="menu">
  <ul class="menu-list is-hidden-mobile">
    {sideBar.map(el => (
      el == location ? <li><a class="is-active" href={router[el][lang].route}>{router[el][lang].name}</a></li> : <li><a href={router[el][lang].route}>{router[el][lang].name}</a></li>
    ))}
  </ul>
  <ul class="menu-list is-hidden-tablet has-text-centered">
    {sideBar.map(el => (
      el == location ? <li><a class="is-active" href={router[el][lang].route}>{router[el][lang].name}</a></li> : <li><a href={router[el][lang].route}>{router[el][lang].name}</a></li>
    ))}
  </ul>
</aside>
