---
import termsTranslation from '../data/termsTranslation.json';
import termsTeaching from '../data/termsTeaching.json';

const {lang} = Astro.props

const translatedContent = {
    en: {
        title:'Terms <span class="brand-red">&</span> Conditions',
        translation:'<span class="brand-red">Translation </span><span class="brand-black">&</span> <span class="brand-red">Proofreading Services</span>',
        teaching:'<span class="brand-red">Teaching Services</span>'
    },
    de: {
        title: "Allgemeine Geschäftsbedingungen",
        translation:'<span class="brand-red">Übersetzungs- </span><span class="brand-black">&</span> <span class="brand-red">Korrekturlesedienstleistungen</span>',
        teaching:'<span class="brand-red">Lehrdienstleistungen</span>'
    },
    fr: {
        title: "Conditions générales",
        translation:'<span class="brand-red">Services de traduction</span> <span class="brand-black">&</span> <span class="brand-red">de relecture</span>',
        teaching:'<span class="brand-red">Services d\'enseignement</span>'
    }
}
let currentLanguage = translatedContent[lang]


let translations = termsTranslation[lang]
let keysTransl = Object.keys(translations).map(key => key)

let teaching = termsTeaching[lang]
let keysTeach = Object.keys(teaching).map(key => key)

let articlePrefix = ""

---
<div class="content">
<h1 class="has-text-centered is-size-4 mb-0">{currentLanguage.title}</h1>
<h2 class="has-text-centered is-size-5 mt-4">{currentLanguage.translation}</h2>
{keysTransl.map((elem, idx) => (
    <div><h3 class="mt-4 is-size-5">{lang == "fr" ? `Art. ${idx+1} - ` : lang == "de" ? `§ ${idx+1}. ` : `${idx+1}. `} {elem}</h3><p>{Object.keys(translations[elem]).map(subel => (
        <div><p><span>{subel}) </span> {translations[elem][subel]}</p></div>
        ))}</p></div>
    ))
    }
<h2 class="has-text-centered is-size-5">{currentLanguage.teaching}</h2>
{keysTeach.map((elem, idx) => (
    <div><h3 class="mt-4 is-size-5">{lang == "fr" ? `Art. ${idx+1} - ` : lang == "de" ? `§ ${idx+1}. ` : `${idx+1}. `} {elem}</h3><p>{Object.keys(teaching[elem]).map(subel => (
        <div><p><span>{subel}) </span> {teaching[elem][subel]}</p></div>
        ))}</p></div>
    ))
    }
</div>