---
const {lang, category} = Astro.props
const translatedContent = {
    teaching: [
        {
            testimonial: "\"Simone is one of the very best Upwork freelancer among all people I have ever worked with. For Simone, the job is always the most important thing to do. Her performance as my English teacher was golden. Energetic and broad-minded teacher - that's her! Detail oriented. She is very positive attitude towards work. I definitely recommend Simone.\"",
            author: "Upwork Client (Level: B2)",
            country: "Belgium",
            date: "January 2021"
        },
        {
            testimonial: "\"[Simone's] dedicated and energetic personality alongside her observant, patient and caring nature make her stand out as a English teacher.\"",
            author: "Head of <i>New Speakeasy</i>",
            country: "Italy",
            date: "August 2021"
        },{
            testimonial: "\"Her thoughtful, open-minded and conscientious character [stood] out since the beginning [of her CELTA training], and she never [ceased] to evince a clear and admirable commitment to helping others in every aspect of their English endeavours.\"",
            author: "CELTA Course Director",
            country: "Spain",
            date: "July 2021"

        }
    ],
    translation: [
        {
            testimonial: "\"Simone is assiduous, dependable and sincerely dedicated to her work - not only are her translations characterised by precision and a conscientious attention to detail, but her work ethic as a whole also reflects her diligent, inquisitive nature and her keen willingness to take on tasks regardless of their difficulty.\"",
            author: "Co-founder of <i>BF International Foods GmbH</i>",
            country: "Germany",
            date: "October 2020"
        },
        {
            testimonial: "\"Simone did a careful job with [colloquial terms from the 1940s, a lot of vocabulary related to historical conditions in France...and a particular voice of the narrator], meticulously including footnotes for terms that need glossing [...] I’ve no doubt [she] will provide many excellent translations.\"",
            author: "Researcher at the <i>JFCS Holocaust Center and Tauber Holocaust Library</i>",
            country: "California",
            date: "April 2016"
        }
    ],
    titles: {
            en: {
                title: "Testimonials",
                teaching: "Teaching",
                translation: "Translation <span class=\"brand-black\">& </span>Proofreading (French/German into English)"
            },
            de:  {
                title: "Referenzen",
                teaching: "Unterricht",
                translation: "Übersetzung <span class=\"brand-black\">& </span> Korrekturlesen (Französisch/Deutsch ins Englische)"
            },
            fr:  {
                title: "Témoignages",
                teaching: "Enseignement",
                translation: "Traduction <span class=\"brand-black\">& </span> relecture (français/allemand vers l'anglais)"
            },
    }
}
---
<div class="content">
<!--<img class="feather active mb-5"src="/favicon.svg">-->
<h2 class="is-size-4">{translatedContent.titles[lang].title}</h2>
<h3 class="is-size-5"><span class="brand-red">{translatedContent.titles[lang].teaching}<span></h3>
<div>
{translatedContent["teaching"].map(el => (
    <div>
    <p class="mt-0 mb-2"><i>{el.testimonial}</i></p>
    <p class="line-height-1 mt-0 mb-0"><b>{el.author}</b></p>
    <p class="line-height-1 mt-0 mb-0">{el.country}</p>
    <p class="line-height-1 mt-0 mb-5">{el.date}</p>
    </div>
    ))}
</div>
<img class="feather active mb-0 mt-3"src="/favicon.svg">
<h3 class="is-size-5"><span class="brand-red">{translatedContent.titles[lang].translation}</span></h3>
<div>
{translatedContent["translation"].map(el => (
    <div>
    <p class="mt-0 mb-2"><i>{el.testimonial}</i></p>
    <p class="line-height-1 mt-0 mb-0"><b>{el.author}</b></p>
    <p class="line-height-1 mt-0 mb-0">{el.country}</p>
    <p class="line-height-1 mt-0 mb-5">{el.date}</p>
    </div>
    ))}
</div>
</div>