---
const { lang, category } = Astro.props
const translatedContent = {
    teaching: [
        {
            en: {
                testimonial: "\‘I always have believed that a native teacher is the best for learning English and with Simone, this became true allowing me to achieve a higher English level beyond my expectations. She is charismatic [and] continually thinking of new ways to help you to achieve your goals and making the lessons motivating and full of joy. Finally but not less important we worked together in different countries (Chile and Switzerland) but I never felt the distance...\’",
                author: "Upwork Client (Level: B2)",
                country: "Chile",
                date: "September 2021"
            },
            de: {
                testimonial: "\„I always have believed that a native teacher is the best for learning English and with Simone, this became true allowing me to achieve a higher English level beyond my expectations. She is charismatic [and] continually thinking of new ways to help you to achieve your goals and making the lessons motivating and full of joy. Finally but not less important we worked together in different countries (Chile and Switzerland) but I never felt the distance...\“",
                author: "Upwork-Kunde (Niveau: B2)",
                country: "Chile",
                date: "September 2021"
            },
            fr: {
                testimonial: "\« I always have believed that a native teacher is the best for learning English and with Simone, this became true allowing me to achieve a higher English level beyond my expectations. She is charismatic [and] continually thinking of new ways to help you to achieve your goals and making the lessons motivating and full of joy. Finally but not less important we worked together in different countries (Chile and Switzerland) but I never felt the distance...  \»",
                author: "Client d'Upwork (Niveau: B2)",
                country: "Chili",
                date: "Septembre 2021"
            },
        },
        {
            en: {
                testimonial: "\‘[Simone's] dedicated and energetic personality alongside her observant, patient and caring nature make her stand out as an English teacher.\’",
                author: "Director (New Speakeasy)",
                country: "Italy",
                date: "August 2021"
            },
            de: {
                testimonial: "\„[Simone's] dedicated and energetic personality alongside her observant, patient and caring nature make her stand out as an English teacher.\“",
                author: "Direktorin (New Speakeasy)",
                country: "Italien",
                date: "August 2021"
            },
            fr: {
                testimonial: "\« [Simone's] dedicated and energetic personality alongside her observant, patient and caring nature make her stand out as an English teacher. \»",
                author: "Directrice (New Speakeasy)",
                country: "Italie",
                date: "Août 2021"
            },
        }, {
            en: {
                testimonial: "\‘Her thoughtful, open-minded and conscientious character [stood] out since the beginning [of her CELTA training], and she never [ceased] to evince a clear and admirable commitment to helping others in every aspect of their English endeavours.\’",
                author: "Course Director (CELTA)",
                country: "Spain",
                date: "July 2021"
            },
            de: {
                testimonial: "\„Her thoughtful, open-minded and conscientious character [stood] out since the beginning [of her CELTA training], and she never [ceased] to evince a clear and admirable commitment to helping others in every aspect of their English endeavours.\“",
                author: "Kurs-Direktorin (CELTA)",
                country: "Spanien",
                date: "Juli 2021"
            },
            fr: {
                testimonial: "\« Her thoughtful, open-minded and conscientious character [stood] out since the beginning [of her CELTA training], and she never [ceased] to evince a clear and admirable commitment to helping others in every aspect of their English endeavours. \»",
                author: "Directrice du cours (CELTA)",
                country: "Espagne",
                date: "Juillet 2021"
            },
        }, {
            en: {
                testimonial: "\‘Simone is one of the very best Upwork freelancer among all people I have ever worked with. For Simone, the job is always the most important thing to do. Her performance as my English teacher was golden. Energetic and broad-minded teacher - that's her! Detail oriented. She is very positive attitude towards work. I definitely recommend Simone.\’",
                author: "Upwork Client (Level: B2)",
                country: "Belgium",
                date: "January 2021"
            },
            de: {
                testimonial: "\„Simone is one of the very best Upwork freelancer among all people I have ever worked with. For Simone, the job is always the most important thing to do. Her performance as my English teacher was golden. Energetic and broad-minded teacher - that's her! Detail oriented. She is very positive attitude towards work. I definitely recommend Simone.\“",
                author: "Upwork-Kunde (Niveau: B2)",
                country: "Belgien",
                date: "Januar 2021"
            },
            fr: {
                testimonial: "\« Simone is one of the very best Upwork freelancer among all people I have ever worked with. For Simone, the job is always the most important thing to do. Her performance as my English teacher was golden. Energetic and broad-minded teacher - that's her! Detail oriented. She is very positive attitude towards work. I definitely recommend Simone. \»",
                author: "Client d'Upwork (Niveau: B2)",
                country: "Belgique",
                date: "Janvier 2021"
            },
        },
    ],
    translation: [{
        en: {
            testimonial: "\‘I had the pleasure of correcting Simone Robinson’s translation assignments during her online translation course offered by Edvenn. Her writing style is excellent, and she always manages to convey the ideas and concepts of the source text in an effective and engaging manner. Her attention to detail is quite impressive. She consistently delivers high-quality translations from French to English in a wide variety of subject fields.\’",
            author: "L. Brady (Tutor at Edvenn, a continuing education centre specialised in professional translation)",
            country: "France",
            date: "June 2022"
        },
        de: {
            testimonial: "\„I had the pleasure of correcting Simone Robinson’s translation assignments during her online translation course offered by Edvenn. Her writing style is excellent, and she always manages to convey the ideas and concepts of the source text in an effective and engaging manner. Her attention to detail is quite impressive. She consistently delivers high-quality translations from French to English in a wide variety of subject fields.\“",
            author: "L. Brady (Ausbilderin bei Edvenn, einem Weiterbildungszentrum für professionelle Übersetzung)",
            country: "Frankreich",
            date: "Juni 2022"
        },
        fr: {
            testimonial: "\« I had the pleasure of correcting Simone Robinson’s translation assignments during her online translation course offered by Edvenn. Her writing style is excellent, and she always manages to convey the ideas and concepts of the source text in an effective and engaging manner. Her attention to detail is quite impressive. She consistently delivers high-quality translations from French to English in a wide variety of subject fields. \»",
            author: "L. Brady (formatrice à Edvenn, un centre de formation continue spécialisé dans la traduction professionnelle)",
            country: "France",
            date: "Juin 2022"
        },
    },
    {
        en: {
            testimonial: "\‘Simone is assiduous, dependable and sincerely dedicated to her work - not only are her translations characterised by precision and a conscientious attention to detail, but her work ethic as a whole also reflects her diligent, inquisitive nature and her keen willingness to take on tasks regardless of their difficulty.\’",
            author: "Co-founder (BF International Foods GmbH)",
            country: "Germany",
            date: "October 2020"
        },
        de: {
            testimonial: "\„Simone is assiduous, dependable and sincerely dedicated to her work - not only are her translations characterised by precision and a conscientious attention to detail, but her work ethic as a whole also reflects her diligent, inquisitive nature and her keen willingness to take on tasks regardless of their difficulty.\“",
            author: "Mitgründer (BF International Foods GmbH)",
            country: "Deutschland",
            date: "Oktober 2020"
        },
        fr: {
            testimonial: "\« Simone is assiduous, dependable and sincerely dedicated to her work - not only are her translations characterised by precision and a conscientious attention to detail, but her work ethic as a whole also reflects her diligent, inquisitive nature and her keen willingness to take on tasks regardless of their difficulty. \»",
            author: "Co-foundateur (BF International Foods GmbH)",
            country: "Allemagne",
            date: "Octobre 2020"
        },
    },
    {
        en: {
            testimonial: "\‘Simone did a careful job with [colloquial terms from the 1940s, a lot of vocabulary related to historical conditions in France...and a particular voice of the narrator], meticulously including footnotes for terms that need glossing [...] I’ve no doubt [she] will provide many excellent translations.\’",
            author: "Researcher (JFCS Holocaust Center and Tauber Holocaust Library)",
            country: "California",
            date: "April 2016"
        },
        de: {
            testimonial: "\„Simone did a careful job with [colloquial terms from the 1940s, a lot of vocabulary related to historical conditions in France...and a particular voice of the narrator], meticulously including footnotes for terms that need glossing [...] I’ve no doubt [she] will provide many excellent translations.\“",
            author: "Wissenschaftlerin (JFCS Holocaust Center and Tauber Holocaust Library)",
            country: "Kalifornien",
            date: "April 2016"
        },
        fr: {
            testimonial: "\« Simone did a careful job with [colloquial terms from the 1940s, a lot of vocabulary related to historical conditions in France...and a particular voice of the narrator], meticulously including footnotes for terms that need glossing [...] I’ve no doubt [she] will provide many excellent translations. \»",
            author: "Chercheuse (JFCS Holocaust Center and Tauber Holocaust Library)",
            country: "Californie",
            date: "Avril 2016"
        },
    }
    ],
    titles: {
        en: {
            title: "Testimonials",
            teaching: "Teaching",
            translation: "Translation <span class=\"brand-black\">& </span>Proofreading<br><span class=\"brand-black\">(French/German into English)</span>"
        },
        de: {
            title: "Referenzen",
            teaching: "Unterricht",
            translation: "Übersetzung <span class=\"brand-black\">& </span> Korrekturlesen<br><span class=\"brand-black\">(Französisch/Deutsch ins Englische)</span>"
        },
        fr: {
            title: "Témoignages",
            teaching: "Enseignement",
            translation: "Traduction <span class=\"brand-black\">& </span> relecture<br><span class=\"brand-black\">(Français/Allemand vers l'anglais)</span>"
        },
    }
}
---

<div class="content">
    <!--<img class="feather active mb-5"src="/favicon.svg">-->
    <h2 class="is-size-4">{translatedContent.titles[lang].title}</h2>


    <h3 class="is-size-5"><span class="brand-red">{translatedContent.titles[lang].translation}</span></h3>
    <div>
        {translatedContent["translation"].map(el => (
        <div>
            <p class="mt-0 mb-2"><i>{el[lang].testimonial}</i></p>
            <p class="line-height-1 mt-0 mb-0"><b>{el[lang].author}</b></p>
            <p class="line-height-1 mt-0 mb-0">{el[lang].country}</p>
            <p class="line-height-1 mt-0 mb-5">{el[lang].date}</p>
        </div>
        ))}
    </div>
    <img class="feather active mb-0 mt-3" src="/favicon.svg">
    <h3 class="is-size-5"><span class="brand-red">{translatedContent.titles[lang].teaching}<span></h3>
    <div>
        {translatedContent["teaching"].map(el => (
        <div>
            <p class="mt-0 mb-2"><i>{el[lang].testimonial}</i></p>
            <p class="line-height-1 mt-0 mb-0"><b>{el[lang].author}</b></p>
            <p class="line-height-1 mt-0 mb-0">{el[lang].country}</p>
            <p class="line-height-1 mt-0 mb-5">{el[lang].date}</p>
        </div>
        ))}
    </div>
</div>